<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./contact.ejs">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="post">
            <input type="text" name="pLanguage" id="" placeholder="programming">
            <button type="submit">Add</button>
        </form>

        <ul>
            <% if(pLanguageName.length > 0){ %>
            <li><%=pLanguageName%></li>
            <% }else{ %>
            <p>no data found</p>
            <% } %>
        </ul>
    </main>
    <footer>
        <p>All rights reserved by &copy; Sanjoy</p>
    </footer>
</body>
</html>